mat-form-field {
  padding: 5px;
  text-align: center;
}

#right {
  text-align: right;
}

div {
  text-align: center;
  // margin: 0 auto;
}

#deviceList {
  max-height:225px;
  overflow: scroll;
}

#timeChoosers {
  float: right;
}

#timeChoosers, #deviceList {
  width: 45%;
  height:230px;
  margin: 10px;
  border: 1px dotted #fd9fb3;
}
