
<div id="timeChoosers">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a from date" formControlName="from_date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a to date" formControlName="to_date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>

  <br>

  <label>Pick a from time</label>
  <br>
  <mat-form-field>
    <mat-select placeholder="Hours">
      <mat-option *ngFor="let hour of hours" [value]="hour">
        {{hour}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Minutes">
      <mat-option *ngFor="let minute of minutes" [value]='minute'>
        {{minute}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <label>Pick a to time</label>
  <br>
  <mat-form-field>
    <mat-select placeholder="Hours">
      <mat-option *ngFor="let hour of hours" [value]="hour">
        {{hour}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Minutes">
      <mat-option *ngFor="let minute of minutes" [value]='minute'>
        {{minute}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button (click)="getDatesFromForm()">Save Changes</button>
</div>

<div id="deviceList">
  <mat-selection-list *ngIf="devices">
    <mat-list-option *ngFor="let device of devices | async">
      <div class="tooltip">
        {{device.id}}
        <span class="tooltiptext">{{device.comment}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>

<button #toggle (click)="toggleTable()">Switch Chart</button>